:root {
  --border-thick: 3px;
  --border-thin: 1px;
  --ship-border: #024C68;
  --bg-field: #e3f2fd;
}

img {
    max-width: 100%;
    height: auto;
  
    vertical-align: middle;
  }

.img-box {
  align-items: center;
}

.field {
  width: 360px;
  height: 360px;
}

.field-container {
  width: 360px;
  flex-grow: 0;
  flex-shrink: 0;
}

#centerField {
  justify-content: center;
}

.messagefield {
  width: 100%;
  height: 25%;
  min-height: 70px;
  border: 3px solid var(--info);
}

.shipsfield {
  width: 100%;
  height: 75%;
  min-height: 250px;
  border: 3px solid var(--info);
  justify-content: center;
}

.grid-11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.cell-top-left {
  border-left: var(--border-thick) solid var(--info);
  border-top: var(--border-thick) solid var(--info);
  border-right: var(--border-thin) solid var(--info);
  border-bottom: var(--border-thin) solid var(--info);
  background-color: var(--bg-field);
}

.cell-top-right {
  border-left: var(--border-thin) solid var(--info);
  border-top: var(--border-thick) solid var(--info);
  border-right: var(--border-thick) solid var(--info);
  border-bottom: var(--border-thin) solid var(--info);
  background-color: var(--bg-field);
}

.cell-top {
  border-left: var(--border-thin) solid var(--info);
  border-top: var(--border-thick) solid var(--info);
  border-right: var(--border-thin) solid var(--info);
  border-bottom: var(--border-thin) solid var(--info);
  background-color: var(--bg-field);
}

.cell-bottom-left {
  border-left: var(--border-thick) solid var(--info);
  border-top: var(--border-thin) solid var(--info);
  border-right: var(--border-thin) solid var(--info);
  border-bottom: var(--border-thick) solid var(--info);
  background-color: var(--bg-field);
}

.cell-bottom-right {
  border-left: var(--border-thin) solid var(--info);
  border-top: var(--border-thin) solid var(--info);
  border-right: var(--border-thick) solid var(--info);
  border-bottom: var(--border-thick) solid var(--info);
  background-color: var(--bg-field);
}

.cell-bottom {
  border-left: var(--border-thin) solid var(--info);
  border-top: var(--border-thin) solid var(--info);
  border-right: var(--border-thin) solid var(--info);
  border-bottom: var(--border-thick) solid var(--info);
  background-color: var(--bg-field);
}

.cell-left {
  border-left: var(--border-thick) solid var(--info);
  border-top: var(--border-thin) solid var(--info);
  border-right: var(--border-thin) solid var(--info);
  border-bottom: var(--border-thin) solid var(--info);
  background-color: var(--bg-field);
}

.cell-right {
  border-left: var(--border-thin) solid var(--info);
  border-top: var(--border-thin) solid var(--info);
  border-right: var(--border-thick) solid var(--info);
  border-bottom: var(--border-thin) solid var(--info);
  background-color: var(--bg-field);
}

.cell-inside {
  border: var(--border-thin) solid var(--info);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: var(--ship-border);
  background-color: var(--bg-field);
}

.cell {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.cell30x30 {
  height: 25px;
  width: 25px;
}

.ship {
  background-color: var(--info);
  border: var(--border-thin) solid var(--ship-border);
}

.killed-ship {
  color: var(--danger);
  font-weight: bold;
  text-align: center;
  border: var(--border-thick) solid var(--danger);
  background-color: var(--bg-field);
}

.shoted-field {
  font-weight: bold;
  text-align: center;
  color: var(--ship-border);
  background-color: var(--bg-field);
}

.color-ship-border {
  color: var(--ship-border);
}

.flag {
  width: 25px;
  height: 20px;
  margin: 5px 0;
}